# Splitting the katakana from romaji in Japanese name

In [1]:
# import library
import pandas as pd
import re

In [2]:
# load dataset
df = pd.read_csv('./pokemon.csv')

In [3]:
# excerpt the column
jpn = df.japanese_name

In [4]:
# select japanese character substrings
jpn_1 = []
for i in jpn:
    jpn_1.append(re.split('[a-zA-Z]+', i))
    
jpn_2 = []
for i in jpn_1:
    jpn_2.append(i[-1])
    
katakana = []
for i in jpn_2:
    if re.match('\W', i):
        i = i[1:]
        katakana.append(i)
    else:
        katakana.append(i)

In [5]:
# remove the japanese character substrings = romaji
romaji = []
for i in range(len(jpn)):
    romaji.append(jpn[i].replace(katakana[i], ''))

In [6]:
# combine the 2 lists to be a dataframe
dic = {
    'id': [i for i in range(1, len(df)+1)],
    'pokedex_no': df.pokedex_number,
    'katakana': katakana,
    'romaji': romaji
}

df = pd.DataFrame(dic)

# export as csv
df.to_csv(path_or_buf='jpn_name.csv', index=False)

In [7]:
df.head()

   id  pokedex_no katakana       romaji
0   1           1    フシギダネ  Fushigidane
1   2           2    フシギソウ   Fushigisou
2   3           3    フシギバナ  Fushigibana
3   4           4     ヒトカゲ     Hitokage
4   5           5     リザード      Lizardo